/* Братчиков Иван Станиславович P3201 Вариант N */
header {
    position: fixed;
    width: 365px;
    height: 67px;
    left: 0px;
    top: 0px;
    padding: 10px 10px 10px 21px;
    font-family: Roboto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #422f2f;
}

.background {
    width: 1440px;
    height: 1440px;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    background: linear-gradient(-45deg, #FFB74B, #c34a36, #5566DF);
    background-size: 400% 400%;
    overflow: hidden;
}


/* Rectangle */
.mainRect {
    position: fixed;
    text-align: left;
    top: 50%;
    left: 50%;
    margin-left: -462.5px;
    margin-top: -208.5px;
    /*position: relative;*/
    width: 925px;
    height: 417px;
    mix-blend-mode: hard-light;
    border-radius: 20px;
    background-color: rgba(205, 205, 205, 0.85);
}

.inputFields {
    position: relative;
    padding: 40px 80px 30px 80px;
    height: 329px;
    width: 389px;
}

.taskRect {
    position: absolute;
    width: 389px;
    height: 60px;
    /*mix-blend-mode: soft-light;*/
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
}

/* Введите данные на проверку вхождения в область значений данного графика: */
.task {
    padding: 14px 20px;
    position: absolute;
    width: 380px;
    height: 40px;
    font-family: Roboto sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #422f2f;
}

/* Rectangle 4 */
.xRect {
    position: absolute;
    width: 250px;
    height: 150px;
    margin-top: 17.5%;

    /*mix-blend-mode: soft-light;*/
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}

#tableRadio {
    width: 100px;
    margin-top: 46px;
    margin-left: 12px;
}


/* X: */
.xLetter {
    position: absolute;
    padding: 14px 20px;
    margin-left: 102px;
    font-family: Roboto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #422F2F;
}


/* Rectangle 3 */
.rRect {
    position: absolute;
    margin-top: 17.5%;
    margin-left: 56.5%;
    width: 110px;
    height: 150px;
    /*mix-blend-mode: soft-light;*/
    border-radius: 15px;
    background-color: #c4c4c4;
    background-color: rgba(255, 255, 255, 0.4);

}

#tableButton {
    margin: 35px 28px 10px;
    overflow: auto;
    height: 100px;
}

.buttonNumber {
    width: 60px;
    height: 20px;
    color: black;
    font-size: 13px;
    border-radius: 5px;
    border: none;
}

.buttonNumber:active {
    background-color: #a9a9a9;
    border-radius: 6px;

}


/* R: */
.rParameter {
    position: absolute;
    width: 110px;
    height: 20px;
    padding: 14px 1px;

    font-family: Roboto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #422F2F;
}



/* Rectangle 5 */
.yRect {
    position: absolute;
    width: 420.5px;
    height: 60px;
    margin-top: 50%;
    /*mix-blend-mode: soft-light;*/
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
}

/* Y: */
.yLetter {
    position: absolute;
    padding-top: 5%;
    padding-left: 5.5%;

    font-family: Roboto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #422F2F;
}

.yRect > input {
    font-size: 14px;
    position: relative;
    border-radius: 4px;
    width: 80%;
    height: 40%;
    left: 13%;
    top: 25%;
    mix-blend-mode: luminosity;

}

.yReact > input:hover {
    border-color: Highlight;
}


/* Rectangle */
.imageRect {

    position: absolute;
    width: 220px;
    height: 220px;
    margin-left: 95%;
    padding: 10px 10px 10px 10px;

    /*mix-blend-mode: soft-light;*/
    background-color: rgba(255, 255, 255, 0.4);

    border-radius: 15px;
}


/* image 2 */
.image {
    position: absolute;
    width: 181px;
    height: 185px;
    margin: 20px 15px 15px 19px;
    border-radius: 36px;
}


/* Rectangle 7 */
.buttonCheck {
    position: absolute;
    width: 200px;
    height: 40px;
    margin-left: 98.75%;
    margin-top: 51.6%;

    /*background: #C4C4C4;*/
    /*mix-blend-mode: soft-light;*/
    background-color: #f6f6f6;
    border-radius: 15px;

    font-family: Roboto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

/* Проверить */
.buttonLetter {

    font-family: Roboto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: black;
    cursor: pointer;

}

/*.buttonCheck:hover {*/
/*    background-color: #a9a9a9;*/
/*}*/

.buttonCheck:active {
    background-color: #a9a9a9;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 80% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 80% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 80% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

cntr {
    margin: auto;
}

.btn-radio {
    cursor: pointer;
    display: inline-block;
    float: left;
    -webkit-user-select: none;
    user-select: none;
}

.btn-radio:not(:first-child) {
    margin-top: 20px;
}

@media screen and (max-width: 480px) {
    .btn-radio {
        display: block;
        float: none;
    }

    .btn-radio:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }
}

.btn-radio svg {
    fill: none;
    vertical-align: middle;
}

.btn-radio svg circle {
    stroke-width: 2;
    stroke: #C8CCD4;
}

.btn-radio svg path {
    stroke: #ffff;
}

.btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
}

.btn-radio svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
}

.btn-radio input {
    display: none;
}

.btn-radio input:checked + svg path {
    transition: all 0.4s ease;
}

.btn-radio input:checked + svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: 0.3s;
}

.btn-radio input:checked + svg path.outer {
    stroke-dashoffset: 0;
}

.btn-radio span {
    display: inline-block;
    vertical-align: middle;
}





